<div class="form-group">
  <%= f.label :options, 'Options', class: 'col-sm-2 control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :options, :class => 'form-control input-sm' %>
  </div>
</div>