<h1><%= t :'issue_status.new'%></h1>
<hr />

<div class='container-fluid'>
  <%= form_for [:settings, @status], url: {action: 'create'}, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= hidden_field_tag :refer, params[:refer] %>
    <%= render 'settings/issue_statuses/editor', :f => f %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type='submit' class='btn btn-sm btn-primary'>Save</button>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$(function() {
  // TODO: Bad
  $("select").select2()
});
</script>
