<h3><%= t :'issue.new'%></h3>
<hr />

<%= form_for @issue, url: {action: 'create'}, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= render 'issues/editor', :f => f %>
  <hr />
  <div class="form-group text-right">
    <button type='submit' class='btn btn-sm btn-success'>
      Create
    </button>
  </div>
<% end %>