<h1><%= t :'inspection.edit_item'%></h1>
<hr />

<div class='container'>
  <%= form_for @atom, url: {action: 'update'}, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'settings/inspection_atom/editor', :f => f, :type_handler => @type_handler %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type='submit' class='btn btn-sm btn-primary'>Save</button>
      </div>
    </div>
  <% end %>
</div>