
.inspections {
    border-bottom: 1px #eee solid;

    &:last-child {
        border-bottom: none;
    }

    .row {
        margin-bottom: 4px;
    }

    .inspection-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 4px;
    }

    .inspection-tip {
        padding-top: 4px;
        float: left;
        margin-left: -23px;
    }

    .tooltip-inner {
      white-space: nowrap !important;
    }
}

table.inspect-results {
    td {
        vertical-align: middle !important;
    }
}