
.login-panel {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  
  form {
    padding: 0 10px;
  }
}

.pigeon-message.alert {
	padding:  5px 15px;
	border-radius: 0;

    @media screen and (min-width: 768px) {
        margin-left: -10px;
        margin-top: -10px;
        margin-right: -10px;
    }
}


.toolbar {
    padding: 0 15px;
    margin-top: 5px;
    margin-bottom: 8px;

    .toolbar-left {
        float: left !important;
        margin-bottom: 8px;
    }

    .toolbar-right {
        float: right !important;
        margin-bottom: 8px;
    }
}